.notFoundCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound {
  height: 70vh;
  width: 45vw;
}

.searchHead {
  margin-left: 15vw;
}

.loader-container {
  text-align: center;
}
